*{
    margin: 0;
    padding: 0;
}
.clearFix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/* Heades Section CSS */


.fixed_with{
    width: 1400px;
    margin: auto;
}
.HeaderSection{
    background-color: #f5deb3;
}
.HeaderSection_left{
    float:left;
    width: 30%;

}
.HeaderSection_left img{
    width: 150px;
    height: auto;
}

.HeaderSection_right{
    float: right;
    width: 70%;
}
.HeaderSection_right ul{
    text-align: right;
    
}
.HeaderSection_right ul li{
   display: inline-block;
   margin-left: -4px;
   border-right: 1px solid white ;
}
.HeaderSection_right ul li a{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 60px;
    color: white;
    font-style: 25px;
    padding: 8px 15px;
    transition: 0.5s;
 
}

/* Banner Section */
.banner{    
    background: url(intro-bg.jpg) no-repeat center;
    padding: 200px 0px;
    background-size: cover;
}
.bannerCaption{}
.bannerCaption h4{    
    color: #3296d9;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 30px;
}
.bannerCaption h3{   
    color: #3296d9;
    max-width: 600px;
    margin: auto;
    font-size: 45px;
    margin-top: 30px;

}
/* about-section */

/* About Section */

.about{
    margin: 100px;
}
.about h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 18px;
}
.about p{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}






/* About Us */
.aboutpage{
    margin: 60px auto;
}
.about-left{
    width: 30%;
    float: left;   
}
.about-right{
    width: 60%;
    float: right;
  
}
.aboutItem{
    margin-bottom: 30px;
}
.aboutItem img{
    float: left;
    margin-right: 15px;
    width: 450px;
    height: auto;
}
.containt1{
    margin-top: 300px;

}
.about-right .content1 p{
    font-size: 18px;
    line-height: 36px;
    margin-top: 10px;

}
.about-right .content1 h1{   
    margin-top: 20px;

}
.about-right .content1 h2{   
    margin-top: 10px;

}

/* Service */
.service-section{
    background-color: #f7f3f0;
    padding: 50px;
}
.service{
    margin-top: 30px;
}
.serviceItem{
    width: 31.3%;
    float: left;
    border: 1px dashed gray;
    border-radius: 50px 0px 50px 0px;
    padding: 30px 10px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
}
.serviceItem span{
    display: block;
    height: 60px;
    width: 60px;
    background: #2881b7;
    color: white;
    margin: auto;
    font-size: 40px;
    line-height: 60px;
    border-radius: 20px 0px 20px 0px;
}
.serviceItem p{
    font-family: Arial, Helvetica, sans-serif;
}
.serviceItem h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
    font-size: 35px;
}




/* Footer bottom*/
.footer{
    background-color: #263848;
    color: white;
    padding: 20px;

    
}
.footerleft{
    float: left;
    width: 40%;
}
.footerleft p{
   
}
.footerright{
    float: right;
    width: 60%;
}
.SocialIcon{
    text-align: right;
}
.SocialIcon li{
    list-style: none;
    display: inline-block;
}
.SocialIcon li a{
    color: white;
    margin-left: 15px;
}
